{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>User Registration Form</title>
</head>

<body class="back">
    <div class="m_container" id="m_container">
        <div class="m_form-container m_sign-up">
            <form action="#" method="post">
                <h1 class="create">Create an Account</h1>
                <div class="m_social-icons">
                    <a href="#" class="m_icon" rel="noreferrer"><i class="m_fa-brands m_fa-google-plus-g"></i></a>
                    <a href="#" class="m_icon" rel="noreferrer"><i class="m_fa-brands m_fa-facebook-f"></i></a>
                    <a href="#" class="m_icon" rel="noreferrer"><i class="m_fa-brands m_fa-github"></i></a>
                    <a href="#" class="m_icon" rel="noreferrer"><i class="m_fa-brands m_fa-linkedin-in"></i></a>
                </div>
                <p class="cr">or use your email for registration</p>
                <input type="text" placeholder="Username">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button type="submit" class="sign-up-button">Sign Up</button>
            </form>
        </div>
        <div class="m_form-container m_sign-in">
            <form action="#" method="post">
                <h1 class="si">Sign In</h1>
                <div class="m_social-icons">
                    <a href="#" class="m_icon" rel="noreferrer"><i class="m_fa-brands m_fa-google-plus-g"></i></a>
                    <a href="#" class="m_icon" rel="noreferrer"><i class="m_fa-brands m_fa-facebook-f"></i></a>
                    <a href="#" class="m_icon" rel="noreferrer"><i class="m_fa-brands m_fa-github"></i></a>
                    <a href="#" class="m_icon" rel="noreferrer"><i class="m_fa-brands m_fa-linkedin-in"></i></a>
                </div>
                <p class="use">or use your email and password</p>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="#" rel="noreferrer">Forgot Your Password?</a>
                <button type="submit" class="sign-in-button">Sign In</button>
            </form>
        </div>
        <div class="m_toggle-container">
            <div class="m_toggle">
                <div class="m_toggle-panel m_toggle-left">
                    <h1 class="we">Welcome Back!</h1>
                    <p class="per">Enter your personal details to use all site features</p>
                    <button class="m_hidden" id="m_login">Sign In</button>
                </div>
                <div class="m_toggle-panel m_toggle-right">
                    <h1 class="wel">Welcome, Friend!</h1>
                    <p class="p">Enter your personal details to use all site features</p>
                    <button class="m_hidden" id="m_register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
